.sidebar {
    flex: 1;
    max-width: 280px;
}

.filter-group {
    margin-bottom: 30px;
    padding-bottom: 20px;

    & > h4 {
        font-size: 1.1rem;
        margin-bottom: 15px;
    }

    & > ul {
        list-style: none;
        padding: 0;
    }

    & > ul li {
        display: flex;
        margin-bottom: 20px;
        color: #555;
    }
}

.checkbox-item {
    justify-content: flex-start;
    gap: 10px;
    position: relative;

    & > label {
        padding-right: 35px ;
    }
}

.qtd-categoria {
    color: #FD7E14;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 12px;
    position: absolute;
    right: 0;
}

.price-filter-container {
    width: 300px;
}

.price-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    & > button {
        color: white;
        background-color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 10px 20px;
    }
}
