.category-card {
    border-radius: 12px;
    width: 280px;
    height: 350px;
    margin: 10px;
}

.card-image-wrapper {
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
}

.category-image {
    height: 90%;
    width: 100%;
    object-fit: cover;
}