.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F8F9FA;
    padding: 80px 50px;
    overflow: hidden;
}

.hero-content {
    z-index: 1;
    text-align: left;
    width: 40rem;
}

.subtitle {
    color: #ff9900;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: #333;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 30px;
}

.hero-image-container {
    width: 40rem;
    margin-right: 5rem; 
    margin-bottom: -5.5rem;
}

.hero-image-container img {
    width: 50rem;
    max-width: 100%;
    height: auto;
}

/* MEDIA QUERIES PARA RESPONSIVIDADE  */

@media (max-width: 1370px) {
    .hero {
        padding: 100px 30px 0; 
        flex-direction: column; 
        text-align: center; 
    }

    .hero-content {
        width: 100%;
        text-align: center;
        margin-bottom: 40px; /* Adiciona espaço entre o texto e a imagem */
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero-image-container {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
    }

    img {
        width: 100%;
        max-width: 500px; /* Limita o tamanho máximo da imagem em telas menores */
    }
}

@media (max-width: 576px) {
    .hero {
        padding: 40px 20px 0;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }
} 