:root {
    box-sizing: border-box;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.search-bar input {
    border: none;
    background-color: #ddd;
    border-radius: 20px;
    padding: 8px 15px;
    width: 200px;
    font-size: 14px;
    outline: none;
}

.search-icon {
    background-color: black;
    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    margin-right: 3px;
    cursor: pointer;
}

.icon {
    stroke: white;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}

.badge {
    background-color: #ff9900;
    color: white;
    font-size: 10px;
    border: 1px solid white;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    background-color: #fff;
    border-radius: 40px;
    padding: 20px 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    max-width: 1200px;
    margin: 0 auto;
}