.carousel-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.carousel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-btn {
    background-color: black;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-icon {
    stroke: white;
}

.carousel-nav {
    display: flex;
    gap: 20px;
}

.cards-container {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    height: 400px;
}

.cards-container::-webkit-scrollbar {
    display: none;
}